@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    padding: 0.4rem 0.75rem;
    color: rgb(255 255 255);
    font-weight: 600;
    border-radius: 0.75rem;
  }

  .upper-background {
    background-image: url("./assets/UpperBackground.png");
  }

  .bg-dots {
    background: white;
    background-image: radial-gradient(#ffffff2e 1px, transparent 20%);
    background-size: 40px 40px;
  }
}
